{% extends "app/layout.html" %}

{% block content %}

<html>
<head>

    {% load staticfiles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
</head>
<body>

    {{ content }}
</body>
</html>
<h2>CV.</h2>
<h3>My Work Experience </h3>


<p>

    <body style="background-color:cornsilk;">
        <h3 style="color:orangered"> <q>April 2015-April 2018</q>, HR-Admin officer, <a href="http://www.brinksglobal.com/">Brinks Global Services.</a></h3>
        <blockquote>
            <b><abbr>Human Resources tasks</abbr></b>
            Recruit new talents: Conducting interviews with candidates, and utilize suitable talent for the required position.
        </blockquote>
    </body>
</p>

<p>
    <blockquote><b>Issuing licenses</b>: Issuing license for the company and renewing trade licenses. In addition, responsible for all employees licensing.</blockquote>
</p>

<p>
    <blockquote>
        <b>Financial</b>:- Review financial statements and data. Utilize financial data to provide KPI reports. Prepare and control operational

        budgets. Control inventory. Plan effective strategies for the financial wellbeing of the company.
        .
    </blockquote>
</p>

<p>
    <blockquote>
        <b>Human Resources</b>: Plan the use of human resources. Organize the staff into the operation and distribute duties and tasks. In addition to the HR reports such as accruals, payroll, and performance review.

    </blockquote>
</p>

<p>
    <blockquote>
        <b>Production</b>: Coordinate and monitor the work of various departments involved in production, warehousing, monitor performance and implement improvements. Ensure quality of manpower productivity. Manage maintenance of equipment and machinery. Provide technical support where necessary.
        .
    </blockquote>
</p>
<p>
    <blockquote>
        <b>PRO</b>: maintaining relations as assets to the company, and my role was to create the relations and make sure that they are maintained under the legal and fair frames. As well as for suppliers, customers and government entities.
        .
    </blockquote>
</p>

<p>
    <blockquote>
        <b>Sales, marketing and Customer Service </b>: support customer service people with the training and tools they would require, meeting the customer satisfaction. Providing the management with reports for the bottleneck positions around departments and how to improve their.
        .
    </blockquote>
</p>

<p>
    <blockquote>
        <b>Strategic Planning </b>: Line up with top management. Assist in the development of strategic plans for operational activity. Implement and manage operational plans.
    </blockquote>
</p>







<body style="background-color:powderblue;">
    <h3 style="color:orangered">
        <q>Oct. 2013-April 2015</q>, Senior Customer Service Representative
        , <a href="https://www.emaar.com/en/index.aspx
">EMAAR.</a>
    </h3>
    <p>
        <blockquote>
            <b>1- Attracts potential customers by answering product and service questions, suggesting information about other products and services</b>
            .
        </blockquote>
    </p>
    <p>
        <blockquote>
            <b>2- Maintains customer records by updating account information.</b>

        </blockquote>
    </p>

    <p>
        <blockquote>
            <b>3- Resolves product or service problems by clarifying the customer's complaint, determining the cause of the problem, selecting and explaining the best solution to solve the problem, expediting correction or adjustment, following up to ensure resolution.</b>

        </blockquote>
    </p>

    <p>
        <blockquote>
            <b>4- Maintains financial accounts by processing customer adjustments.</b>

        </blockquote>
    </p>
    <p>
        <blockquote>
            <b>5- Recommends potential products or services to management by collecting customer information and analyzing customer needs.</b>

        </blockquote>
    </p>

    <p>
        <blockquote>
            <b>6- Prepares product or service reports by collecting and analyzing customer information.</b>

        </blockquote>
    </p>

    <p>
        <blockquote>
            <b>
                7- Contributes to team effort by accomplishing related results as needed.

            </b>

        </blockquote>
    </p>
    <body style="background-color:powderblue;">
        <h3 style="color:orangered">
            <q>July 2011-July 2012</q>, Store Manager at tourism Bazar Tucuman- Capital Federal Buenos Aires.
            ,<a href="http://capital-federal.guia.clarin.com/rio-azul-del-cairo/616276">Rio Azul Del Cairo.</a>
        </h3>
        <p>
            <blockquote>
                <i>* Provide quotes for the organization from Egyptian Syrian market</i>
                .
            </blockquote>
        </p>
        <p>
            <blockquote>
                <i>* Demonstrating and presenting products.</i>

            </blockquote>
        </p>

        <p>
            <blockquote>
                <i>* Maintaining records for inventory and storage.</i>

            </blockquote>
        </p>

        <p>
            <blockquote>
                <i>* Reviewing sales performance.</i>

            </blockquote>
        </p>
        <p>
            <blockquote>
                <i>* Providing the owner with the daily, weekly and monthly sales reports.</i>
                .
            </blockquote>
        </p>

        <body style="background-color:powderblue;">
            <h3 style="color:orangered">
                <q>June2009-April 2011</q>, First Lieutenant at Geanakles, (SAKARA) F16 Airbase.Egyptian Air Forces.

            </h3>
            <p>
                <blockquote>
                    <b>* Responsibility:</b>
                    Infantry Troop commander – fleet commander, responsible for Security of the Airbase.
                </blockquote>
            </p>
            <p>
                <blockquote>
                    * Responsible for the troop fitness by conducting daily training sessions, at sunshine and sunset.
                    .
                </blockquote>
            </p>
            <p>
                <blockquote>
                    <b>* Duties: </b>Patrolling with the armored vehicle leading my troop to secure the airbase, night time.

                </blockquote>
            </p>

            <p>
                <blockquote>
                    * Inspecting on the Soldiers, positions, and equipment
                    .
                </blockquote>
            </p>

            <p>
                <blockquote>
                    * Conducting lectures to educate the soldiers on their tasks, midday time.

                </blockquote>
            </p>
            <p>
                <blockquote>
                    * Conducting the administration work for the troop.

                </blockquote>
            </p>
            <p>
                <blockquote>
                    * Correspondence with the Infantry directorate for the instructions and commands.

                </blockquote>
            </p>
            <body style="background-color:powderblue;">
                <h3 style="color:orangered">
                    <q>Jan 2005-July 2007</q>, Shipping Clerk
                    ,<a href="http://www.eisc.com.eg/">Egyptian International Shipping Agencies And Services, S.A.E.</a>
                </h3>
                <p>
                    <blockquote>
                        1- Handle incoming and outgoing shipments by checking them physically
                        .
                    </blockquote>
                </p>
                <p>
                    <blockquote>
                        2- Check products for defects and accuracy
                        .
                    </blockquote>
                </p>

                <p>
                    <blockquote>
                        3- Ensure posting of outbound deliveries using pre-designated software
                        .
                    </blockquote>
                </p>

                <p>
                    <blockquote>
                        4- Handle packaging procedures to ensure safety of shipment.Ensure that serial and batch numbers match the product.



                    </blockquote>
                </p>
                <p>
                    <blockquote>
                        5- Pull, pack and ship finished goods
                        .
                    </blockquote>
                </p>

                <p>
                    <blockquote>
                        6- Prepare invoices and delivery notes
                        .
                    </blockquote>
                </p>

                <p>
                    <blockquote>
                        7- Ensure that all transactions are recorded in company database
                        .
                    </blockquote>
                </p>
                {% endblock %}

