{% extends "app/layout.html" %}

{% block content %}

<!DOCTYPE html>


    {% load staticfiles %} <!-- Instruct Django to load static files -->
<link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
</head>
<body style="background-color:cornsilk;">
    
</body>
</html>
<h1><b>Personal details</b></h1>

<p class="lead" style="color:orangered">



    <blockquote>
        <b>
            Full Name : Khaled Khalifa Hassan. <b>
    </blockquote>
    <blockquote>
        <b>
            Date Of Birth: 29/10/1983. <b>

    </blockquote>

    <h1><b>Education</b></h1>
    <blockquote>
        <b>
            Cairo University, Faculty of Arts Spanish Department,2007. <b>

    </blockquote>
    <blockquote>
        <b>
            Graphic Design Experimental University of Buenos Aires Centro La Roja Argentina. 2012. <b>

    </blockquote>

    <blockquote>
        <b>
            Full Stack Web Developer, Udacity.com 2018. <b>

    </blockquote>
    <h1><b>Trainings and certificates </b></h1>

    <blockquote>
        <b>
            1- Code Of Ethics. <b>

    </blockquote>
    <blockquote>
        <b>
            2- Global Anti Corruption. <b>

    </blockquote>
    <blockquote>
        <b>
            3- Antitrust Essentials (Brinks Global Service 2017). <b>

    </blockquote>
    <blockquote>
        <b>
            4- Communication Skills (Emaar 2014). <b>

    </blockquote>
    <blockquote>
        <b>
            5- Handling Complaints (Emaar 2014). <b>

    </blockquote>
    <blockquote>
        <b>
            6- Guest Courtesy (Emaar 2013). <b>

    </blockquote>


</p>
    

    {% endblock %}