{% extends "app/layout.html" %}

{% block content %}


    {% load staticfiles %} <!-- Instruct Django to load static files -->
<link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
</head>
<body style="background-color:cornsilk;">
    <h2><b>Skills.</b></h2>
</body>
</html>
<p>
    <blockquote>
        <b>Web Development </b>: fluent in three development languages (Java- Python - JavaScript ) and i can develop HTML,CSS
        .
    </blockquote>
</p>
<p>
    <blockquote>
        having a certificate as full stack developer from Udacity.com
        .
    </blockquote>
</p>
<p>
    <blockquote>
        <b>Spoken Languages </b>: fluent in three spoken languages (English- Spanish - Arabic ),intermediate in Frensh, and a beginner in Italian
        .
    </blockquote>
</p>
<p>
    <blockquote>
        <b>Marketing</b>: as a proffessional PR, i'm a marketing student in Udacity.com and about to finish the course.

    </blockquote>

    <blockquote>
        <b>Networking</b>: strong advantage of making Networking under the fair and legal frames.

    </blockquote>
</p>
<p>
    <blockquote>
        <b>Natation </b>: Swimming (Member of Swimming Team of Suez Selection.
        .
    </blockquote>
</p>


    {% endblock %}